html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: 'Monospace', sans-serif;
  color: #cfdbd5;
  margin: 0;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 75%;
}

.main-container > * {
  flex: 1 100%;
}

.head-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.body-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 15px;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #cfdbd5;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #00a8e8;
}

input[type=text] {
  background-color: #111;
   border-color: #111;
  border-width: 0 0 1px;
  caret-color: #f5cb5c;
  color: #cc444b;
  font-family: 'Monospace', sans-serif;
  font-size: 12pt;
  outline: 0;
}

input[type=text]:focus {
  background-color: #111;
  border-color: #f5cb5c;
  border-width: 0 0 1px;
  caret-color: #f5cb5c;
  color: #cc444b;
  font-family: 'Monospace', sans-serif;
  font-size: 12pt;
  outline: 0;
}

input[type=number] {
  background-color: #111;
  border: none;
  color: #444444;
  font-family: 'Monospace', sans-serif;
}

input[type=number]:focus {
  background-color: #111;
  border-color: #f5cb5c;
  border-width: 0 0 1px;
  color: #444444;
  font-family: 'Monospace', sans-serif;
  outline: 0;
}

input[type=submit] {
  background-color: #111;
  border: none;
  color: #cc444b;
  font-family: 'Monospace', sans-serif;
  font-size: 12pt;
}

input[type=submit]:hover {
  border: none;
  text-decoration: underline;
  text-decoration-color: #f5cb5c;
}

input:focus {
  outline: none;
}

.input-wrap-name {
  position: relative;
}

.input-wrap-name .input {
  position: absolute;
  width: 100%;
  left: 0;
}

.extra-width-name {
  padding: 0 0 0 1rem;
}

.input-wrap-message {
  position: relative;
}

.input-wrap-message .input {
  position: absolute;
  width: 100%;
  left: 0;
}

.extra-width-message {
  padding: 0 0 0 1rem;
}

.text-tag-label {
  color: #f5cb5c;
}

.text-css-label {
  color: #bdd5ea;
}

.text-css-value {
  color: #cc444b;
}

.text-css-value a {
  color: #cc444b;
}

.text-tag-openclose {
  color: #e26d5c;
}

.text-comment {
  color: #444444;
}

